<div class="loginpage-root">
  <form (ngSubmit)="onSubmit()" #registrationForm="ngForm" class="loginpage-main">
    <div class="header">
      <img class="logo" src="/assets/logo_141@2x.png" alt="" />
    </div>

    <div class="input-fields" *ngIf="!loadingVisible">
      <input class="textinput" type="text" name="name" id="name"
        required
        [(ngModel)]="name"
        placeholder="full name" />

      <input class="textinput" type="email" name="email" id="email"
        required
        [(ngModel)]="email"
        placeholder="email" />

      <input class="textinput" type="password" name="password1" id="password1"
        required
        [(ngModel)]="password1"
        placeholder="password" />

      <input class="textinput" type="password" name="password2" id="password2"
        required
        [(ngModel)]="password2"
        placeholder="repeat password" />

      <input class="submitbutton" type="submit"
        [disabled]="registrationForm.form.invalid"
        value="Register" />

      <div class="footer">
        have an account? <a [routerLink]="['..']">login</a>
      </div>
    </div>

    <div class="loading" *ngIf="loadingVisible">
      <p>Just a moment please…</p>
      <app-progress-bar [progress]="passwordHashingProgress"></app-progress-bar>
    </div>
  </form>
</div>
